backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.7
elasticsearch==7.13.0
findspark==1.4.2
idna==2.10
ipykernel
ipython
ipython-genutils==0.2.0
jedi
jupyter-client==6.1.12
jupyter-core
kafka-python==2.0.2
lxml==4.6.3
matplotlib-inline==0.1.2
numpy
oauthlib
pandas
parso
pyspark
python-dateutil==2.8.1
pytz==2021.1
pyzmq
requests
urllib3==1.26.5
vaderSentiment==3.3.2
wcwidth==0.2.5